:root {
    --primary-color: #623a6c;
    --secundary-color: #e7d4ec;
    --background: #e6ecf0;
    --inherit-color: white;
    --error: #f00;
    --black: #000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.error {
    color: var(--error);
}
